<form [formGroup]="loginForm">
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="external-title" fxLayoutAlign="center center">
      Movie Records
    </div>
    <mat-form-field class="external-input" floatLabel="never">
      <mat-icon matPrefix>email</mat-icon>
      <input
        matInput
        type="email"
        placeholder="Email Address"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field class="external-input" floatLabel="never">
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        [type]="show ? 'text' : 'password'"
        placeholder="Password"
        formControlName="password"
      />
      <mat-icon matSuffix class="cursor-pointer" (click)="toggleShow()">{{
        show ? 'visibility' : 'visibility_off'
      }}</mat-icon>
    </mat-form-field>
    <div *ngIf="authError" class="invalid">
      {{ authError }}
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <button type="submit" mat-button (click)="auth()">
        Login <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</form>